#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body {
  min-width: 100vw;
  min-height: min-content;
}

a {
  color: #16425b !important;
  text-decoration: underline !important;
}
